*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif; 
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.container {
    width: 100%;
    background-color: #e7e3e3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 28px;
}

header h1 {
    font-size: 32px;
    color: #333;
}

header i {
    font-size: 30px;
    color: #333;
    margin-right: 16px;
    line-height: 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;

}

form input {
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
    text-align: center;
    margin-bottom: 5px;
}

form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #fff;
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #c6c4c4;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    color: #c6c4c4;
    cursor: pointer;
}

.remover-tarefa {
    background-color: #c6c4c4;
    color: #333;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}   
