//cores
#colors() {
    backgroundColor: #f5f6fa;
    headerColor: #182C61;
    textColor: #fff;

    //botões
    btnColor: #44bd32;
    btnColorHover: #4cd137;
}

//paddings
#spacing() {
    headerPedding: 16px 0;
    sectionPedding: 56px 0;
}