//fonte
@font-main: Roboto, sans-serif;

//tamanho máximo
@max-width-container: 1024px;

//breakepoints em escaping
@breakpointTablet: ~"(max-width: 1023px)";
@breakpointMobile: ~"(max-width: 767px)";