

//Variaveis de Fontes
$font-Principal: Roboto, sans-serif;

//cores da página
$corPrincialBg: #f5f6fa;
$corSecundaryBg: #182C61;
$corButtonBg: #44bd32;
$corButtonHover: #4cd137;
$corText: #fff;


//Dispaly Brackpoints
$tablet: 1023px;
$mobile: 767px;

//paddings
$p-sm: 8px;
$p-md: 16px;
$p-lg: 24px;
$p-xg: 56px;
